<%= link_to "«Projects", root_path %>
<h2><%= link_to @project.name, @project %></h2>
<h3>Members</h3>

<%= render 'projects/memberships', :members => @project.members %>

<h3>Messages</h3>
<%= form_for(@message) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>
	<div class="field">
		<%= f.label "Type" %>
		<%= select(:message, :message_type, Message::TYPES) %>
	</div>
	<div class="actions">
		<%= f.hidden_field :project_id %>
		<%= f.submit "send message" %>
	</div>
<% end %>

<%= render 'projects/messages' %>