<!DOCTYPE html>
<html>
<head>
  <title>Jarvis<%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
